<form action="/regulars">
<table class="table table-bordered">
  <thead>
    <tr>
	   	<td>勤務日</td>
	  	<td>1コマ目</td>
	  	<td>2コマ目</td>
	  	<td>3コマ目</td>
	  	<td>4コマ目</td>
	  	<td>5コマ目</td>   	
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>月曜日</td>
      <td>
        <select name="monday_1" class="span2">
          <option value="0">講義</option>
          <option value="1">勤務可能</option>
        </select>
      </td>
      <td>
      	<select name="monday_2" class="span2">
          <option value="0">講義</option>
          <option value="1">勤務可能</option>
        </select>
      </td>
      <td>
      	<select name="monday_3" class="span2">
          <option value="0">講義</option>
          <option value="1">勤務可能</option>
        </select>
      </td>
      <td>
      	<select name="monday_4" class="span2">
          <option value="0">講義</option>
          <option value="1">勤務可能</option>
        </select>
      </td>
      <td>
      	<select name="monday_5" class="span2">
          <option value="0">講義</option>
          <option value="1">勤務可能</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>火曜日</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>水曜日</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>木曜日</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>金曜日</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
    	<td colspan="6"><input type="submit" value="申請" id="submit" /></td>
    </tr>
  </tbody>
</table>
</form>