<p id="notice"><%= notice %></p>
<%= link_to 'レギュラーシフト作成', new_regular_path %>

<h3>申請可能レギュラーシフト一覧</h3>
<table class="table table-bordered">
  <thead>
  	<td>レギュラーシフト名</td>
  	<td>入力期限</td>
  	<td>アクション</td>
  </thead>
  <tbody>
  	<td>テスト</td>
  	<td>2013年5月31日</td>
  	<td></td>
  </tbody>
</table>